.instafn-link {
  color: inherit !important;
  text-decoration: none !important;
  font-weight: inherit !important;
  transition: opacity 0.2s ease !important;
}

.instafn-link:hover {
  text-decoration: underline !important;
}

._ab8b ._ab8i {
  text-transform: initial !important;
}
